<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
    <package name="BoardGame.domain"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.ChatType"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.GameStatus"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.Role"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.UserStatus"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.UserTier"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.TurnOrder"/>
    <typeHandler handler="BoardGame.config.EnumTypeHandler" javaType="BoardGame.constant.BoardType"/>
  </typeHandlers>
  <mappers>
    <mapper resource="mapper/MemberMapper.xml"/>
    <mapper resource="mapper/GameMapper.xml"/>
    <mapper resource="mapper/GameMoveMapper.xml"/>
    <mapper resource="mapper/GameHistoryMapper.xml"/>
    <mapper resource="mapper/LobbyChatMapper.xml"/>
    <mapper resource="mapper/GameChatMapper.xml"/>
    <mapper resource="mapper/AIGameMapper.xml"/>
    <mapper resource="mapper/AIGameMoveMapper.xml"/>
    <mapper resource="mapper/PostMapper.xml"/>
  </mappers>
</configuration>